*{
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}
.parent{
  padding: 20px;
  display: flex;
  /* align-items: center;
  background-color: rgb(7, 7, 7); */
  flex-wrap: wrap;
}

.card{
 
  width: 200px;
  border: 1px solid rgb(184, 37, 37);
padding: 20px;
text-align: center;
border-radius: 10px;
background-color: #333;
}
