*{
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
} 
html,body{
  background-color: #111;
  color: #fff;
}
.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card{
 
  width: 300px;
  border: 2px solid rgb(253, 253, 253);
padding: 20px;
margin: 10px;
text-align: center;
border-radius: 10px;
background-color: #222;
}
.card img{
  max-height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
}
.card p{
  margin: 10px;
}
.card button{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: black;
 
  cursor: pointer;
}
